form {
  display: flex;
  width: 50%;
}

.form-el {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

input {
  width: 50%;
}