<div class="wrapper-center">
  <div class="panel">
    <div class="form-group-stnd"><button class="stndbtn" type="button" (click)="back()">Back to orders</button></div>
    <div class="form-group-stnd">
      <div class="form-group-center">
        <h1>Request#{{this.orderStore.getValue().order?.id}}</h1>
        <h3>Status: {{this.orderStore.getValue().order?.status.split("_").join(" ")}}</h3>
        <h3>Date: {{this.orderStore.getValue().order?.date| date: 'dd.MM.yyyy'}}</h3>
      </div>
    </div>
    <div class="form-group-stnd">
      <div class="file-group-center" *ngIf="this.orderStore.getValue().order?.status=='CONTACT_RECEIVED'">
        <h2>You on te first step administrators will contact you.</h2>
      </div>
    </div>
    <div class="form-group-stnd" *ngIf="this.orderStore.getValue().order?.status!=='CONTACT_RECEIVED'"
      style="text-align:center">
      <div class="form-group-center">
        <div class="form-group-stnd">
          <label class="file-button">
            Contract
            <input class="file-input" type="file" (change)="selectFile('CONTRACT',{event : $event})">
          </label>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            Passport
            <input class="file-input" type="file" (change)="selectFile('PASSPORT',{event : $event})">
          </label>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_45
            <input class="file-input" type="file" (change)="selectFile('P_45',{event : $event})">
          </label>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_60
            <input class="file-input" type="file" (change)="selectFile('P_60',{event : $event})">
          </label>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_80
            <input class="file-input" type="file" (change)="selectFile('P_80',{event : $event})">
          </label>
        </div>
        <div class="form-group-stnd">
          <div><button class="file-button" [disabled]="!selectedFiles" (click)="upload()">Upload</button></div>
        </div>
      </div>

      <div class="form-group-center">
        <div class="form-group-stnd" *ngIf="!filesMap.has('CONTRACT')">
          <div class="file-button__name">{{'__'}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="filesMap.has('CONTRACT') && filesMap.get('CONTRACT') !== null">
          <div class="file-button__name">{{' ' + limitStr('CONTRACT')}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="!filesMap.has('PASSPORT')">
          <div class="file-button__name">{{'__'}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="filesMap.has('PASSPORT') && filesMap.get('PASSPORT') !== null">
          <div class="file-button__name">{{' ' + limitStr('PASSPORT')}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="!filesMap.has('P_45')">
          <div class="file-button__name">{{'__'}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="filesMap.has('P_45') && filesMap.get('P_45') !== null">
          <div class="file-button__name">{{' ' + limitStr('P_45')}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="!filesMap.has('P_60')">
          <div class="file-button__name">{{'__'}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="filesMap.has('P_60') && filesMap.get('P_60') !== null">
          <div class="file-button__name">{{' ' + limitStr('P_60')}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="!filesMap.has('P_80')">
          <div class="file-button__name">{{'__'}}</div>
        </div>
        <div class="form-group-stnd" *ngIf="filesMap.has('P_80') && filesMap.get('P_80') !== null">
          <div class="file-button__name"> {{limitStr('P_80')}}</div>
        </div>
      </div>

      <div class="form-group-center">

        <div class="form-group-stnd">
          <label>
            <button class="file-button__download" [disabled]="disableButton('CONTRACT')"
              (click)="download('CONTRACT')">Download
            </button>
          </label>
        </div>

        <div class="form-group-stnd">
          <label>
            <button class="file-button__download" [disabled]="disableButton('PASSPORT')"
              (click)="download('PASSPORT')">Download</button>
          </label>
        </div>

        <div class="form-group-stnd">
          <label>
            <button class="file-button__download" [disabled]="disableButton('P_45')"
              (click)="download('P_45')">Download</button>
          </label>
        </div>

        <div class="form-group-stnd">
          <label>
            <button class="file-button__download" [disabled]="disableButton('P_60')"
              (click)="download('P_60')">Download</button>
          </label>
        </div>

        <div class="form-group-stnd">
          <label>
            <button class="file-button__download" [disabled]="disableButton('P_80')"
              (click)="download('P_80')">Download</button>
          </label>
        </div>

        <div class="form-group-stnd"><button class="file-button" [disabled]="disableConfirmButton()"
            (click)="confirmDocs()">Confirm</button></div>

      </div>

    </div>
  </div>
</div>