<button type="button" (click)="back()">Back</button>

<h1>Request#{{this.orderStore.getValue().fullOrder?.id}}</h1>
<h3>Status: {{this.orderStore.getValue().fullOrder?.status}}</h3>
<h3>Date: {{this.orderStore.getValue().fullOrder?.date| date: 'dd.MM.yyyy'}}</h3>
<thead>
<tr>
  <th>Status: </th>
  <th>
    <select name="duration" [(ngModel)]="status" >
      <option value="CONTACT_RECEIVED">CONTACT_RECEIVED</option>
      <option value="REQUEST_FOR_DOCS">REQUEST_FOR_DOCS</option>
      <option value="ALL_DOCS_RECEIVED">ALL_DOCS_RECEIVED</option>
      <option value="TAX_RETURN_TO_HMRC">TAX_RETURN_TO_HMRC</option>
      <option value="CHEQUE_RECEIVED">CHEQUE_RECEIVED</option>
      <option value="CHEQUE_BANKED" selected>CHEQUE_BANKED</option>
      <option value="BANK_DETAILS_RECEIVED">BANK_DETAILS_RECEIVED</option>
      <option value="TRANSFER_MADE">TRANSFER_MADE</option>
    </select>
  </th>
  <th>  <router-outlet>
    <button  (click)="submit()">Submit</button>
  </router-outlet>
  </th>
</tr>

<br/>

</thead>
