<div class="wrapper-center">
  <div class="panel">
    <div class="form-group-stnd"><button class="stndbtn" type="button" (click)="back()">Back to all orders</button>
    </div>
    <div class="form-group-stnd">
      <div class="form-group-center">
        <h1>Request#{{this.orderStore.getValue().fullOrder?.id}}</h1>
        <h3>Status: {{this.orderStore.getValue().fullOrder?.status.split("_").join(" ")}}</h3>
        <h3>Date: {{this.orderStore.getValue().fullOrder?.date| date: 'dd.MM.yyyy'}}</h3>
      </div>
    </div>
    <div class="form-group-stnd">
      <h2> Change status: </h2>
    </div>
    <div class="form-group-stnd">
      <select class="stndselect" name="duration" [(ngModel)]="status">
        <option value="CONTACT_RECEIVED">CONTACT_RECEIVED</option>
        <option value="REQUEST_FOR_DOCS">REQUEST_FOR_DOCS</option>
        <option value="ALL_DOCS_RECEIVED">ALL_DOCS_RECEIVED</option>
        <option value="TAX_RETURN_TO_HMRC">TAX_RETURN_TO_HMRC</option>
        <option value="CHEQUE_RECEIVED">CHEQUE_RECEIVED</option>
        <option value="CHEQUE_BANKED" selected>CHEQUE_BANKED</option>
        <option value="BANK_DETAILS_RECEIVED">BANK_DETAILS_RECEIVED</option>
        <option value="TRANSFER_MADE">TRANSFER_MADE</option>
      </select>
      <router-outlet>
        <button class="stndbtn" (click)="submit()">Submit</button>
      </router-outlet>
    </div>


    <div class="form-group-stnd" *ngIf="this.orderStore.getValue().order?.status!=='CONTACT_RECEIVED'"
      style="text-align:center">

      <div class="form-group-center">
        <div class="form-group-stnd">
          <label class="file-button">
            Contract
            <input class="file-input" type="file" (change)="selectFile('CONTRACT',{event : $event})">
          </label>
          <div *ngIf="filesMap.has('CONTRACT') && filesMap.get('CONTRACT') !== null">
            {{filesMap.get('CONTRACT').name.substring(0, 10)}}
          </div>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            Passport
            <input class="file-input" type="file" (change)="selectFile('PASSPORT',{event : $event})">
          </label>
          <div *ngIf="filesMap.has('PASSPORT') && filesMap.get('PASSPORT') !== null">
            {{filesMap.get('PASSPORT').name.substring(0, 10)}}
          </div>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_45
            <input class="file-input" type="file" (change)="selectFile('P_45',{event : $event})">
          </label>
          <div *ngIf="filesMap.has('P_45') && filesMap.get('P_45') !== null">
            {{filesMap.get('P_45').name.substring(0, 10)}}
          </div>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_60
            <input class="file-input" type="file" (change)="selectFile('P_60',{event : $event})">
          </label>
          <div *ngIf="filesMap.has('P_60') && filesMap.get('P_60') !== null">
            {{filesMap.get('P_60').name.substring(0, 10)}}
          </div>
        </div>
        <div class="form-group-stnd">
          <label class="file-button">
            P_80
            <input class="file-input" type="file" (change)="selectFile('P_80',{event : $event})">
          </label>
          <div *ngIf="filesMap.has('P_80') && filesMap.get('P_80') !== null">
            {{filesMap.get('P_80').name.substring(0, 10)}}
          </div>
        </div>
        <div class="form-group-stnd">
          <div><button class="file-button" [disabled]="!selectedFiles" (click)="upload()">Upload</button></div>
        </div>
      </div>
      <div class="form-group-center">
        <div class="form-group-stnd">
          <label>
            <button class="file-button" [disabled]="disableButton('CONTRACT')" (click)="download('CONTRACT')">Download
            </button>
          </label>
        </div>
        <div class="form-group-stnd">
          <label>
            <button class="file-button" [disabled]="disableButton('PASSPORT')"
              (click)="download('PASSPORT')">Download</button>
          </label>
        </div>
        <div class="form-group-stnd">
          <label>
            <button class="file-button" [disabled]="disableButton('P_45')" (click)="download('P_45')">Download</button>
          </label>
        </div>
        <div class="form-group-stnd">
          <label>
            <button class="file-button" [disabled]="disableButton('P_60')" (click)="download('P_60')">Download</button>
          </label>
        </div>
        <div class="form-group-stnd">
          <label>
            <button class="file-button" [disabled]="disableButton('P_80')" (click)="download('P_80')">Download</button>
          </label>
        </div>
        <div class="form-group-stnd-op0">
          <label>
            <button class="file-button"></button>
          </label>
        </div>
        <!-- <div class="form-group"><button class="file-button" [disabled]="disableConfirmButton()"
              (click)="confirmDocs()">Confirm</button></div> -->
      </div>
    </div>
  </div>
</div>