<form #myForm="ngForm" novalidate>
  <button type="button" (click)="signUp()">SignUp</button>
  <div class="form-group">
    <label>{{ "login" }}</label>
    <input class="form-control" name="login" [(ngModel)]="login" required/>
  </div>
  <div class="form-group">
    <label>{{ "password" }}</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" required/>
  </div>

  <div>
    <div class="form-group">
      <router-outlet>
        <button [disabled]="myForm.invalid"

                class="btn btn-default" (click)="submit(myForm)">{{ "entry" }}
        </button>
      </router-outlet>
    </div>
  </div>
</form>
