<div class="wrapper-center">

  <form #myForm="ngForm" class="panel" novalidate>
    <div class="form-group-stnd"><button class="stndbtn" type="button" (click)="back()">Back to orders</button></div>
    <div class="form-group-stnd">
      <!-- <label>{{ "phone" }}</label> -->
      <input placeholder="Phone" class="stndinput " name="phone" [(ngModel)]="phone" required />
    </div>
    <div class="form-group-stnd">
      <!-- <label>{{ "messenger" }}</label> -->
      <input placeholder="Messenger" class="stndinput " name="messenger" [(ngModel)]="messenger" required />
    </div>
    <div class="form-group-stnd">
      <!-- <label>{{ "messenger" }}</label> -->
      <input placeholder="email" class="stndinput " name="email" [(ngModel)]="email" required />
    </div>
    <div>
      <div class="form-group-center">
        <router-outlet>
          <button [disabled]="myForm.invalid" class="stndbtn" (click)="submit(myForm)">{{
            "Create" }}
          </button>
        </router-outlet>
      </div>
    </div>
  </form>
</div>
